.home__container {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  margin-bottom: 0;
  height: calc(100vh - 60px);
}

.home__container > .row{
  height: 100%;
}

.home__container .col{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__copy{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home__copy-title{
  color: #fff;
  font-family: 'Anton';
  font-size: 41px;
  letter-spacing: 0;
  line-height: 50px;
}

.home__Copy-desc{
  color: #fff;
  font-family: 'Lato';
  font-size: 22px;
  line-height: 26px;

}